# Jupyter Notebook checkpoints
analytics/.ipynb_checkpoints/
# An empty folder crated while running juyter notebook in the container.
analytics/src/

# Python bytecode
__pycache__/
*.py[cod]

# Environments
.env
.venv/
env/

# Docker logs
*.log

#streamlit credential (for local)
v1streamlitprototype/.streamlit/secrets.toml

#db credential (for docker)
.env