# Jupyter Notebook checkpoints
analytics/.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Environments
.env
.venv/
env/

# Docker logs
*.log

#streamlit credential (for local)
.streamlit/secrets.toml

#db credential (for docker)
.env