body {font-family: 'Rubik', sans-serif; }
.sidebar { background-color: #a5a5a5; padding: 20px; border-right: 1px solid #dee2e6; min-height: 100vh}
.content { background-color: #000000; padding: 20px; color: #ffffff; }